[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-allauth = "*"
pyyaml = "*"
uritemplate = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[scripts]
lint = "flake8 posts/"
